@import url('http://fonts.googleapis.com/css?family=Marck+Script');

.navbar {
    margin-top: 20px;
    background: linear-gradient(to top, #005A00 15%, #006400 50%,#197419 75%,#338333 100%);
    border: 1px solid white;
}
div.navbar-header a.navbar-brand,
div.navbar-collapse ul.nav li>a{
    color: white;
}
div.navbar-collapse {
    float: right;
}
div.navbar-collapse ul.nav li ul li a,
div.navbar-collapse ul.nav li ul li a:hover {
    color: black;
}
div.navbar-header a.navbar-brand:hover {
    color: white;
}
div.navbar-collapse ul.nav li>a:hover {
    color: #fdffa7;
}
.navbar-line {
    border-bottom: 2px solid black;
    margin-bottom: 20px;
}
.text-marck {
    font-family: 'Marck Script', cursive;
    font-size: 25px;
}
.logo {
    text-align:;
    padding-left: 0;
}
body {
    background-image: url('../images/sky.png');
    background-size: cover;
    background-repeat: no-repeat;
}
.footer-line {
    margin-top: 20px;
    border-top: 2px solid black;
}
.carousel {
    border: 4px solid black;
}
.no-margin {
    margin: 0px;
}
.footer-contact {
    text-align: right;
}
.center {
    text-align: center;
}
.border-bottom {
    border-bottom: 2px solid black;
}
#navbar {
    padding-left: 0;
}
#pageName {
    font-size: 44em;
}
div div div.carousel-caption div.caption {
    background-color: rgba(100, 100, 100, 0.5);
}

.image {
	border-style:outset;
	border-color: darkGreen;
	border-width:10px;
}

.text-black {
    color: black;
}
